<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,410},{116,122}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,37},{116,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,420},{104,116}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,43},{104,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,420},{92,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,52},{92,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,526},{86,102}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,56},{86,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,514},{102,102}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,55},{102,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{116,106}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,57},{116,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{138,110}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,61},{138,110}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{152,128}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,52},{152,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{168,150}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,38},{168,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{148,134}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{148,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{162,148}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{162,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,276},{142,132}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{142,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,152},{156,138}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{156,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,154},{150,120}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{150,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,130}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{170,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,292},{126,134}}</string>
                <key>offset</key>
                <string>{-21,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,21},{126,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b12075284c4fbff3d7bc775047ad909c:754d97eb655d063b3c9fc518cff00b26:aefc46271a528250973e047b84db9856$</string>
            <key>textureFileName</key>
            <string>battle.png</string>
        </dict>
    </dict>
</plist>
