
####Xcode用
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside


## Other
*.xccheckout
*.moved-aside
*.xcuserstate

####Mac用
.DS_Store

####cocos2d-x
cocos2d/
.classpath
.project
.cproject
.xcodeproj

####その他
*.class
CVS/
proj.android/
