<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_footer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,98}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{107,98}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>bt_footer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{107,98}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{107,98}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>bt_footer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{106,98}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{106,98}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
            <key>bt_footer4.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{107,98}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{107,98}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>bt_footer5.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{107,98}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{107,98}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>bt_footer6.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{106,98}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{106,98}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>footer.png</string>
            <key>size</key>
            <string>{654,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d21de2ff675fcfa04d3c11993beb5bc:88b44ee05cea6e2196b6b3b186bfffe7:61db89b0754283e2ea1725b91dfb3c14$</string>
            <key>textureFileName</key>
            <string>footer.png</string>
        </dict>
    </dict>
</plist>
