<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,202}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{276,202}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,202}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{276,202}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{276,202}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{276,202}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{276,202}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{276,202}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{276,202}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{276,202}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{276,202}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{276,202}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{276,202}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{276,202}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{276,202}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{276,202}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{276,202}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{276,202}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{276,202}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{276,202}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{276,202}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{276,202}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{276,202}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{276,202}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,2},{276,202}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{276,202}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,2},{276,202}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{276,202}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{204,192}}</string>
                <key>offset</key>
                <string>{-29,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{204,192}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,206},{204,192}}</string>
                <key>offset</key>
                <string>{-29,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,467},{204,192}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,206},{204,192}}</string>
                <key>offset</key>
                <string>{-29,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{204,192}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,206},{204,192}}</string>
                <key>offset</key>
                <string>{-29,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{204,192}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,206},{204,192}}</string>
                <key>offset</key>
                <string>{-29,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,467},{204,192}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,206},{204,192}}</string>
                <key>offset</key>
                <string>{-29,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,467},{204,192}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,206},{204,192}}</string>
                <key>offset</key>
                <string>{-29,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,467},{204,192}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,206},{204,192}}</string>
                <key>offset</key>
                <string>{-29,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,467},{204,192}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,206},{212,192}}</string>
                <key>offset</key>
                <string>{-25,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,467},{212,192}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{236,202}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,466},{236,202}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,400},{276,194}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{276,194}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,400},{276,192}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,467},{276,192}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,400},{276,194}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{276,194}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,400},{276,202}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{276,202}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,400},{276,198}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,467},{276,198}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,400},{276,202}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,466},{276,202}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{1948,604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ede05ad82c3640b86e4ae012d827938c:e02c1d1443de579b5b4e0db503bb3201:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
