<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>01.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,570},{122,190}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{39,10},{122,190}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>02.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,550},{130,190}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,10},{130,190}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>03.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,386},{182,190}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,10},{182,190}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>04.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,204},{196,192}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,8},{196,192}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>05.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,194},{190,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{190,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>06.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,198},{168,200}}</string>
			<key>offset</key>
			<string>{-12,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{168,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>07.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,2},{196,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{196,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>08.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,2},{194,200}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{194,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>09.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,2},{190,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{190,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>10.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,2},{196,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{196,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,810},{198,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{198,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,608},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,406},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,204},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>16.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,810},{200,198}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{200,198}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>17.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,200},{162,200}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,0},{162,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>18.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,364},{170,198}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,2},{170,198}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>19.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,536},{168,196}}</string>
			<key>offset</key>
			<string>{6,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,4},{168,196}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>20.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,398},{182,196}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,4},{182,196}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>21.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,582},{182,194}}</string>
			<key>offset</key>
			<string>{-4,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,6},{182,194}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>22.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,368},{180,196}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,4},{180,196}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>23.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,682},{166,136}}</string>
			<key>offset</key>
			<string>{-8,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,64},{166,136}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>24.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,706},{118,130}}</string>
			<key>offset</key>
			<string>{-10,-35}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31,70},{118,130}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>active_skill_3.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:332ee5e82fc7be0a280aaa8f086204a1:4be572a2a6945713b3d0290f12ac5f65:2865482a0795d02d54308caa4d963635$</string>
		<key>textureFileName</key>
		<string>active_skill_3.png</string>
	</dict>
</dict>
</plist>
