<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,374},{150,170}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{150,170}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,374},{156,174}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{156,174}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,374},{156,174}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{156,174}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,180},{160,176}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,358},{160,174}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{160,174}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,182},{160,178}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{160,178}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,188},{160,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,184}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,2},{160,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,184}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,188},{160,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,184}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{160,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,184}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,188},{160,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,184}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{160,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,184}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,188},{160,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,184}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{160,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,184}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,188},{160,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,184}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{160,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,184}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,188},{160,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,184}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,184}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,188},{160,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,184}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,184}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{160,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,184}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{160,178}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{160,178}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,184}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,2},{160,176}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,362},{160,176}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,374},{156,174}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{156,174}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>46.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,374},{156,176}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{156,176}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>47.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,374},{156,176}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{156,176}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>48.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,374},{156,182}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,182}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{156,182}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,182}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,2},{146,156}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{146,156}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,152},{144,140}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{144,140}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,150},{144,146}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{144,146}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,2},{138,148}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{138,148}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,294},{138,134}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{138,134}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>active_skill_9.png</string>
            <key>size</key>
            <string>{1920,532}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5b3777b263b7a0967727eafad524aa0:b691b5ef01fe56800f270f12a6162515:c396214879061800fe960e66d72d9777$</string>
            <key>textureFileName</key>
            <string>active_skill_9.png</string>
        </dict>
    </dict>
</plist>
