<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,165},{84,107}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,40},{84,107}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,154},{96,115}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,38},{96,115}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,146},{108,117}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,36},{108,117}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,133},{120,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,32},{120,121}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,2},{124,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{124,129}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2},{130,137}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{130,137}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,2},{142,139}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,25},{142,139}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{144,141}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,23},{144,141}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{150,139}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,25},{150,139}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{154,161}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{154,161}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{158,157}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,28},{158,157}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,185}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,185}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,185}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,154},{70,93}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,42},{70,93}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,158},{50,67}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,56},{50,67}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,106},{50,67}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,56},{50,67}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,54},{50,67}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,56},{50,67}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,2},{50,67}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,56},{50,67}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,141},{50,67}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,56},{50,67}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,141},{50,69}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,54},{50,69}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,189},{50,65}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,58},{50,65}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,189},{50,63}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,60},{50,63}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,189},{50,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,60},{50,63}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,189},{50,65}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,58},{50,65}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{50,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,58},{50,65}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,189},{52,67}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,54},{52,67}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,189},{56,69}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,50},{56,69}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,189},{60,71}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,47},{60,71}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,189},{64,71}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,44},{64,71}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,148},{68,71}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,40},{68,71}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,148},{72,73}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,36},{72,73}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,162},{74,73}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,32},{74,73}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,162},{80,73}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,29},{80,73}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>active_skill_19.png</string>
            <key>size</key>
            <string>{1555,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba0dd1ce54eb545134c94ede9bc07096:8f5789b2f975f945e6a3a53a3900bee4:a33a4263f88302c4537fa0d3ecd6cb21$</string>
            <key>textureFileName</key>
            <string>active_skill_19.png</string>
        </dict>
    </dict>
</plist>
