<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,828},{92,116}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,57},{92,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,828},{100,120}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,53},{100,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,696},{118,130}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,49},{118,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,526},{118,126}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,52},{118,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{128,136}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,44},{128,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{154,166}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{154,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,384},{170,178}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{170,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{152,186}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{152,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,590},{142,184}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{142,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,778},{146,186}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{146,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,196}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{158,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{164,194}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{164,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{166,192}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{166,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{168,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{168,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,196},{152,186}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{152,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{146,186}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{146,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,196},{156,170}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{156,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,776},{154,164}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{154,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,368},{134,164}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{134,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,564},{134,164}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{134,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,534},{120,160}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,368},{124,156}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{124,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,170},{126,152}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{126,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>active_skill_18.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fb0c6cae8048ec84ddc77c17a72a91f:e8c2e26f523f4b9a83e718cdedd6ce65:a1ea4048f15a7f5898203fde43654fed$</string>
            <key>textureFileName</key>
            <string>active_skill_18.png</string>
        </dict>
    </dict>
</plist>
