<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,560},{46,28}}</string>
                <key>offset</key>
                <string>{69,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,66},{46,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,560},{54,40}}</string>
                <key>offset</key>
                <string>{70,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,55},{54,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,914},{54,54}}</string>
                <key>offset</key>
                <string>{69,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,41},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,850},{58,62}}</string>
                <key>offset</key>
                <string>{70,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,33},{58,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,772},{60,76}}</string>
                <key>offset</key>
                <string>{69,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,19},{60,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,96},{60,82}}</string>
                <key>offset</key>
                <string>{68,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,12},{60,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,204},{62,94}}</string>
                <key>offset</key>
                <string>{67,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,0},{62,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{68,92}}</string>
                <key>offset</key>
                <string>{65,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,0},{68,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,300},{76,90}}</string>
                <key>offset</key>
                <string>{59,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,0},{76,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,406},{152,116}}</string>
                <key>offset</key>
                <string>{21,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{152,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,608},{162,120}}</string>
                <key>offset</key>
                <string>{12,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{162,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{188,200}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,406},{182,200}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{200,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{200,196}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,608},{200,166}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,810},{200,152}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>active_skill_14.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2c4141103d46df485e9c24ecc3a8558:eb74e8e5631d303b93bb18a80a0e3a2d:2b28d422f5c7581c2783ef95477041dd$</string>
            <key>textureFileName</key>
            <string>active_skill_14.png</string>
        </dict>
    </dict>
</plist>
