<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1012,2},{1,1}}</string>
			<key>offset</key>
			<string>{-99.5,99.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1012,2},{1,1}}</string>
			<key>offset</key>
			<string>{-99.5,99.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>03.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,1092},{104,200}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{44,0},{104,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>04.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,816},{140,200}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,0},{140,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,814},{144,200}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,0},{144,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>06.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,822},{144,200}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,0},{144,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>07.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,660},{152,200}}</string>
			<key>offset</key>
			<string>{-12,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,0},{152,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>08.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,664},{150,200}}</string>
			<key>offset</key>
			<string>{-11,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,0},{150,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>09.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,664},{146,200}}</string>
			<key>offset</key>
			<string>{-11,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,0},{146,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>10.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,814},{140,200}}</string>
			<key>offset</key>
			<string>{-11,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,0},{140,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,960},{136,200}}</string>
			<key>offset</key>
			<string>{-9,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,0},{136,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>12.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,958},{132,200}}</string>
			<key>offset</key>
			<string>{-9,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,0},{132,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>13.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,502},{160,200}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,0},{160,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>14.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,2},{168,200}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,0},{168,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>15.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,172},{166,200}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,0},{166,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>16.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,502},{160,200}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,0},{160,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>17.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,2},{168,200}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,0},{168,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>18.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,170},{166,200}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,0},{166,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>19.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,338},{162,200}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,0},{162,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>20.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,662},{158,200}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,0},{158,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>21.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,340},{162,200}}</string>
			<key>offset</key>
			<string>{-11,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{162,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>22.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{170,200}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,0},{170,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>23.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,172},{164,200}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,0},{164,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>24.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,500},{160,200}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,0},{160,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>25.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,504},{154,200}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,0},{154,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>26.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,340},{162,200}}</string>
			<key>offset</key>
			<string>{-10,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{162,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>27.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,2},{168,200}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,0},{168,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>28.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,172},{164,200}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,0},{164,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>29.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,338},{162,200}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,0},{162,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>30.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,174},{164,200}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,0},{164,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>31.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,2},{166,200}}</string>
			<key>offset</key>
			<string>{-8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{166,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>32.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,338},{160,200}}</string>
			<key>offset</key>
			<string>{-8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,0},{160,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>33.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,504},{156,200}}</string>
			<key>offset</key>
			<string>{-8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,0},{156,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>34.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,662},{150,200}}</string>
			<key>offset</key>
			<string>{-8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,0},{150,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>35.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,812},{144,200}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,0},{144,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>36.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,956},{138,200}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,0},{138,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>37.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,958},{132,200}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,0},{132,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>38.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,968},{126,200}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,0},{126,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>39.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,1092},{120,200}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33,0},{120,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>40.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,1096},{116,200}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,0},{116,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>41.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1098},{110,200}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{38,0},{110,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>42.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1210},{104,200}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{41,0},{104,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>43.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,1096},{98,200}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{44,0},{98,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>44.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,1196},{92,200}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,0},{92,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>45.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,1198},{84,200}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{52,0},{84,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>46.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,1214},{78,200}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{55,0},{78,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>47.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,1294},{72,200}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{58,0},{72,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>48.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,1288},{72,200}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{58,0},{72,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>49.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,1284},{72,200}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{58,0},{72,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>50.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,1214},{72,200}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{58,0},{72,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>51.png</key>
		<dict>
			<key>frame</key>
			<string>{{1012,2},{1,1}}</string>
			<key>offset</key>
			<string>{-99.5,99.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>active_skill_21.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9cfc38b7ff886e21c4e94d81e2e945a5:01d6db5245062c0fe886f34834f38acd:de013edcae42471fc42758b60c2471d3$</string>
		<key>textureFileName</key>
		<string>active_skill_21.png</string>
	</dict>
</dict>
</plist>
