<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,45},{108,25}}</string>
                <key>offset</key>
                <string>{-6,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{108,25}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{110,41}}</string>
                <key>offset</key>
                <string>{-6,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{110,41}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,934},{160,57}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,57}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,937},{160,73}}</string>
                <key>offset</key>
                <string>{0,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,73}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,932},{160,89}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,89}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,164},{160,101}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,101}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,635},{160,115}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,115}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,326},{160,127}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,127}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,481},{160,145}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,145}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,164},{160,173}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,173}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,462},{160,171}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,171}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,755},{160,175}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,175}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,164},{160,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,185}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,568},{160,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,185}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,381},{160,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,185}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,194},{160,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,185}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{160,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,185}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{160,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,185}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{160,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,185}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{160,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,185}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{160,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,185}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{160,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,185}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{160,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,185}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{160,183}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,183}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,185}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,755},{158,177}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,177}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,752},{150,171}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{150,171}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,315},{158,145}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{158,145}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,326},{160,153}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,153}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,455},{160,161}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,161}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,164},{158,149}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,149}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,326},{146,125}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,125}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,598},{146,137}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{146,137}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,453},{144,143}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{144,143}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,618},{120,137}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,7},{120,137}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,72},{120,105}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,16},{120,105}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{82,111}}</string>
                <key>offset</key>
                <string>{20,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,24},{82,111}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,164},{42,117}}</string>
                <key>offset</key>
                <string>{41,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,35},{42,117}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>doshindon.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:859a42d88a5ab1cb70f571dabc393c26:1b69178218cc10fd8df38c2c66ec27ec:68972b4ae27c5ef1eb626abf3b354e75$</string>
            <key>textureFileName</key>
            <string>doshindon.png</string>
        </dict>
    </dict>
</plist>
