<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,164},{50,13}}</string>
                <key>offset</key>
                <string>{-21,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,137},{50,13}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,322},{142,25}}</string>
                <key>offset</key>
                <string>{9,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,135},{142,25}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,164},{156,31}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,131},{156,31}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{160,37}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,128},{160,37}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{160,47}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,120},{160,47}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,421},{160,85}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{160,85}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,419},{160,101}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{160,101}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,417},{160,101}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{160,101}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,312},{160,103}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{160,103}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,312},{160,105}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,80},{160,105}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,312},{160,107}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{160,107}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,425},{160,107}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{160,107}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,312},{160,111}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{160,111}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{160,157}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{160,157}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,310},{160,145}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{160,145}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,163},{160,145}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{160,145}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,163},{160,147}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{160,147}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,161},{160,149}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{160,149}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,161},{160,149}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{160,149}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,159},{160,151}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{160,151}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{160,155}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{160,155}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{160,157}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{160,157}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,159}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{160,159}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{160,161}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{160,161}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{160,161}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{160,161}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{160,161}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{160,161}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,159}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{160,159}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{160,161}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{160,161}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{160,161}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{160,161}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,161}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{160,161}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ground_explode.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3493fdbe5bf12a8619485925828db75f:d93a73041def4b30dcdf74516caeb4f2:a501e667a24754a8e037d2749a0f2a86$</string>
            <key>textureFileName</key>
            <string>ground_explode.png</string>
        </dict>
    </dict>
</plist>
