<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>01.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,192},{78,98}}</string>
			<key>offset</key>
			<string>{59,51}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{120,0},{78,98}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>02.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,2},{188,98}}</string>
			<key>offset</key>
			<string>{5,51}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,0},{188,98}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>03.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,204},{196,200}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>04.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,204},{198,200}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>05.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,2},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>06.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>07.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,402},{196,184}}</string>
			<key>offset</key>
			<string>{2,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{196,184}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>08.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,404},{186,178}}</string>
			<key>offset</key>
			<string>{7,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{186,178}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>09.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,584},{180,176}}</string>
			<key>offset</key>
			<string>{10,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,0},{180,176}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,762},{146,170}}</string>
			<key>offset</key>
			<string>{27,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,0},{146,170}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>slash.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:609fc638990d9942c4bcd52dfc14df27:f53b6ee319c5ccc95788b313724436b6:62947110516e68a0284775f030f78419$</string>
		<key>textureFileName</key>
		<string>slash.png</string>
	</dict>
</dict>
</plist>
