<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>01.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,2},{640,364}}</string>
			<key>offset</key>
			<string>{0,100}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,38},{640,364}}</string>
			<key>sourceSize</key>
			<string>{640,640}</string>
		</dict>
		<key>02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,436},{640,338}}</string>
			<key>offset</key>
			<string>{0,-44}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,195},{640,338}}</string>
			<key>sourceSize</key>
			<string>{640,640}</string>
		</dict>
		<key>03.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,644},{640,324}}</string>
			<key>offset</key>
			<string>{0,-43}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,201},{640,324}}</string>
			<key>sourceSize</key>
			<string>{640,640}</string>
		</dict>
		<key>04.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{640,432}}</string>
			<key>offset</key>
			<string>{0,104}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,432}}</string>
			<key>sourceSize</key>
			<string>{640,640}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>thunder_vs.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:28d1d7a99182990c1ff782a974057577:de89e007d06328eaf4f601e569a3462f:b2069637168e2661cd449291833d39bb$</string>
		<key>textureFileName</key>
		<string>thunder_vs.png</string>
	</dict>
</dict>
</plist>
